<footer class="bg-black ph3 pv4 white">

	<div class="mw7 center pt3">

		<div class="measure-narrow center mb4">

			<img src="/img/logo.svg" alt="Mecon logo" class="db w4 center mb4 br0">
			<p class="f3 lh-title light-gray b tc mb2">Contactate por teléfono</p>
			<p><a href="tel:+5493764254743">Link directo para llamar al 3764254743 </a></p>
			<p><a href="https://wa.me/5493764254743">Link directo a whatsapp</a></p>

		</div>

		<div class="flex-ns justify-between">

			<div>
				<h3 class="f4 b lh-title mb1 primary">Mecon</h3>
				<ul class="mb3">
					<li><a href="/" class="link">Inicio</a></li>
					<li><a href="/products" class="link">Our products</a></li>
					<li><a href="/values" class="link">About</a></li>
					<li><a href="/contacto" class="link">Contacto</a></li>
				</ul>
			</div>

			<div>
				<h3 class="f4 b lh-title mb2 primary">Nuestras Redes</h3>
				<ul class="mhn2">
					{{ partial "social-icon" (dict "link" "https://www.facebook.com/people/Mecon/100084445181751/" "svg" "icons-facebook") }}
					{{ partial "social-icon" (dict "link" "https://www.instagram.com/mecon_oficial" "svg" "icons-instagram") }}
				</ul>
			</div>

		</div>
	</div>

</footer>

{{ partial "svg" . }}
