<div class="bg-grey-1 pv4">
  <div class="flex-l mhn1-l ph3 center mw7">
    <h2 class="f2 b lh-title mb2 w-40-l">{{.heading}}</h2>
    <p class="w-60-l mb0">{{.text}}</p>
    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fpeople%2FMecon%2F100084445181751%2F&tabs=timeline&width=0&height=0&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="0" height="0" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowfullscreen="true" allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share"></iframe>
  </div>
</div>
